$font-stack: 'Rubik', sans-serif;
$primary-color: #464646;
$border-color: #DDDDDD;
$background_color: #FCFCFC;
$secondary-color: #C1DBA1;


h1{
    font-size: 1.4em;
    font-weight: 400;
}
h3{
    font-size: 1em;
    font-weight: 500;
    color: #464646;
}

html{
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font: 100% $font-stack;
    color: $primary-color;
    background-color: #F0F0F0;
}
#header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #222222;
    z-index: 100;
}
#homepage_wrapper{
    position: relative;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    #homepage_events{
        margin-top: 20px;
        position: relative;
        width: 300px;
        height: 450px;
        background-color: $background_color;
        border-radius: 20px;
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #homepage_updates_wrapper{
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        width: 460px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        
        #update_title_wrapper{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        #homepage_update{
            margin-top: 20px;
            position: relative;
            width: 90%;
            padding: 0 5%;
            height: 50px;
            background-color: $background_color;
            margin-bottom: 20px;
            border-radius: 40px;
            border: 1px solid $border-color;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        #homepage_update_exit_button{
            position: relative;
            width: 30px;
            height: 30px;
            background-color: $primary-color;
            border-radius: 100%;
            z-index: 99;
        }
        #homepage_update_exit_button:hover{
            background-color: #AAAAAA;
        }
        #homepage_update_textbox{
            position: relative;
            width: 90%;
            height: 180px;
            resize: none;
        }
        #homepage_imageorPost_wrapper{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
        }
        #homepage_addImage{
            position: relative;
            width: 35px;
            height: 35px;
            background-color: $primary-color;
            border-radius: 20%;
            outline-style: none;
            border: none;
            cursor: pointer;
        }
        #homepage_postupdate{
            position: relative;
            width: 65px;
            height: 35px;
            background-color: $secondary-color;
            border-radius: 20%;
            outline-style: none;
            border: none;
            cursor: pointer;
            font-family: $font-stack;
            color: $primary-color;
        }
        #homepage_postupdate:hover{
            box-shadow: 0 1px 3px grey;
        }
        .line_style{
            height: 0;
            width: 100%;
            border: 1px solid #BBBBBB;
            margin-bottom: 20px;
        }
        .updates{
            position: relative;
            width: 90%;
            background-color: $background_color;
            margin-bottom: 20px;
            border-radius: 20px;
            border: 1px solid $border-color;
            padding: 5%;
            p {
                margin: 0;
                font-size: 0.8rem;
            }
        }
    }
    
    #homepage_personal_info{
        margin-top: 20px;
        position: relative;
        width: 300px;
        height: 450px;
        background-color: $background_color;
        border-radius: 20px;
        border: 1px solid $border-color;
    }
}
